{% load i18n %}
<div class="card mt-4 p-3 border-top">
  <h5 class="fw-bold mb-3 fs-3">{% trans "Sensor Details" %}</h5>
  <div class="row row-cols-1 row-cols-md-3 g-3 ms-5">
    <!-- SD Card -->
    <div class="d-flex align-items-center gap-2">
      <i
        class="fa-solid fa-sd-card fs-5 {% if device.status != 'offline' %} {% if device.sdcard_error %} text-danger {% else %} text-success {% endif %} {% else %} text-dark {% endif %}"
      >
      </i>
      <span class="fs-5">SD Card:</span>
      <span class="fs-5 fw-bold sd-card-text">
        {% if device.status == 'offline' %} {% trans "Offline" %} {% elif
        device.sdcard_error %} {% trans "Error" %} {% else %} {% trans "Working"
        %} {% endif %}
      </span>
    </div>

    <!-- RTC -->
    <div class="d-flex align-items-center gap-2">
      <i
        class="fa-regular fa-clock fs-5 rtc-icon-clock {% if device.status != 'offline' %} {% if device.rtc_error %} text-danger {% else %} text-success {% endif %} {% else %} text-dark {% endif %}"
      >
      </i>
      <span class="fs-5">RTC:</span>
      <span class="fs-5 fw-bold rtc-status-text">
        {% if device.status == 'offline' %} {% trans "Offline" %} {% elif
        device.sdcard_error %} {% trans "Error" %} {% else %} {% trans "Working"
        %} {% endif %}
      </span>
    </div>

    <!-- Wi-Fi Strength -->
    <div class="d-flex align-items-center gap-2">
      <i
        class="fa-solid fa-wifi fs-5 wifi-icon {% if device.status != 'offline' %} text-primary {% else %} text-dark {% endif %}"
      >
      </i>
      <span class="fs-5">Wi-Fi:</span>
      <span class="fs-5 fw-bold wifi-strength-text">
        {% if device.status == 'offline' %} {% trans "Offline" %} {% else %} {{
        device.wifi_strength }}dB {% endif %}
      </span>
    </div>

    <!-- Battery -->
    <div class="d-flex align-items-center gap-2">
      <i class="fa-solid {{ battery_icon }} fs-5 {{ battery_class }}"></i>
      <span class="fs-5">{% trans "Battery" %}:</span>
      <span class="fs-5 fw-bold batt-status-text">
        {% if device.status != 'offline' %} ({{ device.battery_level }}%) {%endif %}
      </span>
    </div>
  </div>
</div>
