# Created by venv; see https://docs.python.org/3/library/venv.html

.env
/caddy.exe
/caddyfile
/requirements.txt
/run.py
/run.spec
/ssl_gen.py

build/
dist/

data_logger/requirements.txt
data_logger/run.py