.stat-card {
    text-align: center;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
    color: #fff;
}

.stat-card h6,
.stat-card h3 {
    margin: 0;
    font-weight: bold;
}

/* Total Devices */
.stat-card.volunteer_count {
    background-color: #212529;
    border-color: #212529;
}
.stat-card.new_forms {
    background-color: #0d6efd;
    border-color: #0d6efd;
}
.stat-card.signed_forms {
    background-color: #1a8754;
    border-color: #1a8754;
}