.card {
    border-radius: 10px;
    box-shadow: 10px 0 15px rgba(0, 0, 0, 0.1), -10px 0 15px rgba(0, 0, 0, 0.1); /* الظل على اليمين واليسار فقط */
    transition: all 0.3s ease;
    border: none;
}

.card-header {
    background-color: #fff;
    color: #212529;;
    border-radius: 10px 10px 0 0 !important;
    font-weight: 600;
    border-bottom: none;
}

.stats-card {
    text-align: center;
    padding: 15px;
}

/* ========================== Overview Cards ==========================*/
.stat-card {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-width: 2px;
    border-style: solid;
    border-radius: 8px;
}

.stat-card h6,
.stat-card h3 {
    margin: 0;
    font-weight: bold;
}

/* Total Devices */
.stat-card.total_devices {
    background-color: #212529;
    border-color: #212529;
    color: #fff;
}

/* Working */
.stat-card.working {
    background-color: #fff;
    border-color: #1a8754;
    color: #1a8754;
}

/* Warning */
.stat-card.warning {
    background-color: #fff;
    border-color: #c5272f;
    color: #c5272f;
}

/* Offline */
.stat-card.offline {
    background-color: #fff;
    border-color: #6b757d;
    color: #6b757d;
}

@media (max-width: 576px) {
    .card-header {
        font-size: 0.85rem;
    }

    .card-header .btn {
        padding: 0.25rem 0.5rem;
    }

    .card-header .btn span {
        margin-left: 0.25rem !important;
    }

    .card-header h5 {
        font-size: 0.9rem !important;
    }

    .card-header .rounded-circle {
        width: 26px;
        height: 26px;
        padding: 0.3rem !important;
    }

    .card-body {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .card-body .d-flex {
        flex-wrap: wrap; /* هذا يساعد في تنظيم العناصر بشكل أفضل */
    }
}
  