{% extends 'base.html' %} {% block content %}
{% load i18n %}
<div class="container mt-5" style="max-width: 400px">
    <div class="text-center">
        <h1>{% trans "Password Reset Done" %}</h1>
        <p>{% trans "We've emailed you instructions for setting your password. If you don't receive an email, please make sure you've entered the correct address." %}</p>
        <a href="{% url 'login' %}" class="btn btn-outline-danger mt-3">{% trans "Return to Login" %}</a>
    </div>
</div>

{% endblock %}