{% load static %}
{% load i18n %}
<script src="{% static 'authentication/java/password_reset.js' %}"></script>
<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h5 class="modal-title" id="forgotPasswordModalLabel">{% trans "Forgot Password" %}</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      
      <div class="modal-body">
        <div id="resetFormContainer">
          <form id="passwordResetForm" data-url="{% url 'password_reset' %}">
            {% csrf_token %}
            <div class="mb-3 d-flex align-items-center" dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
              <label for="email" class="col-form-label pe-2">{% trans "Email" %}:</label>
              <span class="input-group-text {% if LANGUAGE_CODE == 'ar' %}rounded-end-pill{% else %}rounded-start-pill{% endif %}" id="addon-wrapping"><i class="fa-solid fa-at"></i></span>
              <input 
                type="email" 
                name="email" 
                id="email" 
                class="form-control {% if LANGUAGE_CODE == 'ar' %}rounded-start-pill{% else %}rounded-end-pill{% endif %} no-focus-ring"
                placeholder="{% trans "Enter your email" %}" required
                style="max-height: 2.5rem;"
                dir="ltr"
              >
            </div>
            <div class="d-grid gap-2 mt-3">
              <button type="submit" class="btn btn-outline-danger">{% trans "Reset Password" %}</button>
            </div>
          </form>
        </div>

        <div id="resetSuccessMessage" class="d-none text-center">
          <h5>{% trans "Password Reset Done" %}</h5>
          <p>{% trans "We've emailed you instructions for setting your password. If you don't receive an email, please make sure you've entered the correct address." %}</p>
          <a href="{% url 'login' %}" class="btn btn-outline-danger mt-3">{% trans "Return to Login" %}</a>
        </div>
      </div>
    </div>
  </div>
</div>
