{% extends 'base.html' %} {% block content %}
{% load i18n %}

<div class="container mt-5" style="max-width: 400px" dir="{% if request.LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
    <div class="text-center mb-4">
        <h1>{% trans "Set New Password" %}</h1>
    </div>

    <form method="POST" action="">
        {% csrf_token %}
        <div class="mb-3 d-flex flex-row justify-content-between">
            <label for="id_new_password1">{% trans "New Password" %}</label>
            {{ form.new_password1.errors }}
            {{ form.new_password1 }}
        </div>
        <div class="mb-3 d-flex flex-row justify-content-between">
            <label for="id_new_password2">{% trans "Confirm New Password" %}</label>
            {{ form.new_password2.errors }}
            {{ form.new_password2 }}
        </div>
        
        <div class="d-grid gap-2 mt-3">
            <button type="submit" class="btn btn-outline-danger">{% trans "Set Password" %}</button>
        </div>
    </form>
</div>

{% endblock %}