{% extends 'base.html' %} {% block content %} {% load static %} {% load i18n %}
<script
  src="{% static 'authentication/java/show_password.js' %}"
  defer
></script>
<div class="container-lg mt-4" style="width: 800px" dir="{% if LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
  <div class="card shadow">
    <div class="card-header bg-dark text-white">
      <h5 class="mb-0">{% trans "Update my account" %}</h5>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}

        <!-- Username -->
        <div class="mb-4">
          <label for="id_username" class="form-label">{% trans "Username" %}</label>
          <div class="input-group flex-nowrap">
            <span class="input-group-text {% if LANGUAGE_CODE == 'ar' %}rounded-end-pill{% else %}rounded-start-pill{% endif %}" id="addon-wrapping">
              <i class="fa-solid fa-user-tie text-danger"></i>
            </span>
            <input 
              type="text"
              name="username" 
              class="form-control {% if LANGUAGE_CODE == 'ar' %}rounded-start-pill{% else %}rounded-end-pill{% endif %}" no-focus-ring {% if form.username.errors%}is-invalid{% endif %}" 
              id="id_username" 
              value="{{form.username.value|default:'' }}"
              placeholder="{% trans "Username"%}"
              aria-label="Username" 
              aria-describedby="addon-wrapping"
            required/>
          </div>
          {% for error in form.username.errors %}
          <div class="invalid-feedback d-block">{{ error }}</div>
          {% endfor %}
        </div>

        <!-- Old Password -->
        <div class="mb-4">
          <label for="currentPasswordForUpdate" class="form-label">{% trans "Old Password" %}</label>
          <div class="input-group flex-nowrap">
            <span class="input-group-text {% if LANGUAGE_CODE == 'ar' %}rounded-end-pill{% else %}rounded-start-pill{% endif %}"">
              <i class="fa-solid fa-shield-halved"></i>
            </span>
            <input
              type="password"
              name="current_password"
              class="form-control no-focus-ring {% if form.current_password.errors %}is-invalid{% endif %}"
              id="currentPasswordForUpdate"
              placeholder="{% trans "Old Password"%}"
              aria-label="Old Password"
            />
            <span
              class="input-group-text bg-white border-start-0{% if LANGUAGE_CODE == 'ar' %}rounded-start-pill{% else %}rounded-end-pill{% endif %}" toggle-password"
              style="cursor: pointer"
            >
              <i class="fa-solid fa-eye eye-icon"></i>
            </span>
          </div>
          {% for error in form.current_password.errors %}
          <div class="invalid-feedback d-block">{{ error }}</div>
          {% endfor %}
        </div>

        <!-- New Password -->
        <div class="mb-4">
          <label for="newPasswordForUpdate" class="form-label">{% trans "New Password" %}</label>
          <div class="input-group flex-nowrap">
            <span class="input-group-text {% if LANGUAGE_CODE == 'ar' %}rounded-end-pill{% else %}rounded-start-pill{% endif %}">
              <i class="fa-solid fa-shield-halved text-primary"></i>
            </span>
            <input 
              type="password" 
              name="new_password" 
              class="form-control no-focus-ring {% if form.new_password.errors %}is-invalid{% endif%}" 
              id="newPasswordForUpdate" 
              placeholder="{% trans "New Password"%}" 
              aria-label="New Password" />
            <span
              class="input-group-text bg-white border-start-0 {% if LANGUAGE_CODE == 'ar' %}rounded-start-pill{% else %}rounded-end-pill{% endif %}" toggle-password"
              style="cursor: pointer">
              <i class="fa-solid fa-eye eye-icon"></i>
            </span>
          </div>
          {% for error in form.new_password.errors %}
          <div class="invalid-feedback d-block">{{ error }}</div>
          {% endfor %}
        </div>

        <!-- Confirm Password -->
        <div class="mb-4">
          <label for="confirmNewPasswordForUpdate" class="form-label">{% trans "Confirm Password" %}</label>
          <div class="input-group flex-nowrap">
            <span class="input-group-text {% if LANGUAGE_CODE == 'ar' %}rounded-end-pill{% else %}rounded-start-pill{% endif %}">
              <i class="fa-solid fa-circle-check text-success"></i>
            </span>
            <input 
              type="password" 
              name="confirm_new_password"
              class="form-control no-focus-ring {% if form.confirm_new_password.errors %}is-invalid{% endif %}"
              id="confirmNewPasswordForUpdate" 
              placeholder="{% trans "Confirm Password" %}" 
              aria-label="Confirm Password" />
            <span
              class="input-group-text bg-white border-start-0 {% if LANGUAGE_CODE == 'ar' %}rounded-start-pill{% else %}rounded-end-pill{% endif %}" toggle-password"
              style="cursor: pointer">
              <i class="fa-solid fa-eye eye-icon"></i>
            </span>
          </div>
          {% for error in form.confirm_new_password.errors %}
          <div class="invalid-feedback d-block">{{ error }}</div>
          {% endfor %}
        </div>

        <!-- Save and Cancel Buttons -->
        <div class="d-flex" dir="ltr">
          <button type="submit" class="btn btn-outline-success me-4">
            <i class="fas fa-save me-2"></i>
            <span data-translate="saveChanges">{% trans "Save Changes" %}</span>
            <span
              id="updateAccountSpinner"
              class="spinner-border spinner-border-sm ms-2 d-none"
              role="status"
              aria-hidden="true"
            ></span>
          </button>
          <a href="{% url 'data_logger' %}" class="btn btn-outline-danger">
            <i class="fas fa-times me-2"></i>
            <span data-translate="cancel">{% trans "Cancel" %}</span>
          </a>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
