{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="card mt-4">
  <div class="container mt-4">
    <h2 class="mb-4 card-title">{{ page_title }}</h2>
  
    <form method="post" enctype="multipart/form-data" class="card-body p-4 shadow-sm">
      {% csrf_token %}
  
      <div class="mb-3">
        <label for="id_volunteer" class="form-label">Volunteer</label>
        <select name="volunteer" id="id_volunteer" class="form-select">
          {% for volunteer in form.volunteer.field.queryset %}
            {% with volunteer.studyvolunteer_set.first as enrollment %}
              <option value="{{ volunteer.id }}" {% if form.volunteer.value == volunteer.id|stringformat:"s" %}selected{% endif %}>
                {{ volunteer }}{% if enrollment %} - Assigned in ({{ enrollment.study.study_code }}){% endif %}
              </option>
            {% endwith %}
          {% endfor %}
        </select>
      </div>
  
      <div class="mb-3">
        <label for="id_study" class="form-label">Study</label>
        <select name="study" id="id_study" class="form-select">
          {% for study in form.study.field.queryset %}
            <option value="{{ study.id }}" {% if form.study.value == study.id|stringformat:"s" %}selected{% endif %}>
              {{ study }}
            </option>
          {% endfor %}
        </select>
      </div>
  
      <button type="submit" class="btn btn-primary w-100">Enroll</button>
    </form>
  </div>
</div>
{% endblock %}
