{% extends 'base.html' %} {% block content %} {% load static %}
<div class="container-lg mt-4" style="width: 800px">
  <div class="card shadow">
    <div class="card-header bg-dark text-white">
      <h5 class="mb-0">
      {% if is_edit %}
        Edit Volunteer Data
      {% else %}
        Register New Volunteer
      {% endif %}
      </h5>
    </div>
    <div class="card-body">
      <form method="post">
        {% csrf_token %}

        <!-- Name -->
        <div class="row row-cols-1 row-cols-sm-2">
          <!-- First Name  -->
          <div class="mb-4">
            <label
              for="id_first_name"
              class="form-label"
              data-translate="first_name"
              >First Name</label
            >
            <div class="input-group flex-nowrap">
              <span class="input-group-text rounded-start-pill" id="addon-wrapping">
                <i class="fa-solid fa-user-tie text-danger"></i>
              </span>
              <input
                type="text"
                name="first_name"
                value="{% if is_edit %}{{ volunteer.first_name }}{% endif %}"
                class="form-control rounded-end-pill no-focus-ring {% if form.first_name.errors %}is-invalid{% endif %}"
                id="id_first_name"
                placeholder="First Name"
                aria-label="First Name"
                aria-describedby="addon-wrapping"
                required
              />
            </div>
            {% for error in form.first_name.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
          </div>
          <!-- Last Name -->
          <div class="mb-4">
            <label
              for="id_last_name"
              class="form-label"
              data-translate="last_name"
              >Last Name</label
            >
            <div class="input-group flex-nowrap">
              <span
                class="input-group-text rounded-start-pill"
                id="addon-wrapping"
              >
                <i class="fa-solid fa-user-tie text-danger"></i>
              </span>
              <input
                type="text"
                name="last_name"
                class="form-control rounded-end-pill no-focus-ring {% if form.last_name.errors %}is-invalid{% endif %}"
                value="{% if is_edit %}{{ volunteer.last_name }}{% endif %}"
                id="id_username"
                placeholder="Last Name"
                aria-label="Last Name"
                aria-describedby="addon-wrapping"
                required
              />
            </div>
            {% for error in form.last_name.errors %}
            <div class="invalid-feedback d-block">{{ error }}</div>
            {% endfor %}
          </div>
        </div>

        <!-- Date -->
        <div class="mb-4">
          <label
            for="id_birth_date"
            class="form-label"
            data-translate="birth_date"
            >Birth Date</label
          >
          <div class="input-group flex-nowrap">
            <span
              class="input-group-text rounded-start-pill"
              id="addon-wrapping"
            >
              <i class="fa-solid fa-calendar-week text-primary"></i>
            </span>
            <input
              type="date"
              name="birth_date"
              class="form-control rounded-end-pill no-focus-ring {% if form.birth_date.errors %}is-invalid{% endif %}"
              id="id_birth_date"
              value="{% if is_edit %}{{ volunteer.birth_date|date:'Y-m-d' }}{% endif %}"
              placeholder="Birth Date"
              aria-label="Birth Date"
              aria-describedby="addon-wrapping"
              required
            />
          </div>
          {% for error in form.birth_date.errors %}
          <div class="invalid-feedback d-block">{{ error }}</div>
          {% endfor %}
        </div>

        <!-- Phone Number -->
        <div class="mb-4">
          <label
            for="id_phone_number"
            class="form-label"
            >Phone Number</label
          >
          <div class="input-group flex-nowrap">
            <span class="input-group-text rounded-start-pill">
              <i class="fa-solid fa-phone text-success"></i>
            </span>
            <input
              type="number"
              name="phone_number"
              class="form-control no-focus-ring {% if form.phone_number.errors %}is-invalid{% endif %}"
              id="id_phone_number"
              value="{% if is_edit %}{{ volunteer.phone_number }}{% endif %}"
              placeholder="Phone Number"
              aria-label="Phone Number"
            />
          </div>
          {% for error in form.phone_number.errors %}
          <div class="invalid-feedback d-block">{{ error }}</div>
          {% endfor %}
        </div>

        <!-- National ID -->
        <div class="mb-4">
          <label
            for="id_national_id"
            class="form-label"
            data-translate="national_id"
            >National ID</label
          >
          <div class="input-group flex-nowrap">
            <span class="input-group-text rounded-start-pill">
              <i class="fa-regular fa-id-card"></i>
            </span>
            <input
              type="number"
              name="national_id"
              minlength="14"
              maxlength="14"
              pattern="\d{14}"
              value="{% if is_edit %}{{ volunteer.national_id }}{% endif %}"
              class="form-control no-focus-ring {% if form.national_id.errors %}is-invalid{% endif %}"
              id="id_national_id"
              placeholder="National ID"
              aria-label="National ID"
              {% if is_edit %} readonly {% endif %}
            />
          </div>
          {% for error in form.national_id.errors %}
          <div class="invalid-feedback d-block">{{ error }}</div>
          {% endfor %}
        </div>


        <!-- Save and Cancel Buttons -->
        <div class="d-flex justify-content-between">
          <a href="{% if is_edit %}{% url 'confirm_pdf' volunteer.volunteer_id %}?edit=1{% else %}{% url 'clinical' %} {% endif %}" class="btn btn-outline-danger">
            <i class="fas fa-times me-2"></i>
            <span data-translate="cancel">Cancel</span>
          </a>
          <button type="submit" class="btn btn-outline-primary me-4">
            <span>Next</span>
            <i class="fa-solid fa-chevron-right"></i>
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
<script>
  const nationalIdInput = document.getElementById("id_national_id");

  if (!nationalIdInput.hasAttribute('readonly')) {
    nationalIdInput.addEventListener("input", function (e) {
      // Remove non-digit characters
      this.value = this.value.replace(/\D/g, '');

      // Limit to 14 digits
      if (this.value.length > 14) {
        this.value = this.value.slice(0, 14);
      }
    });
  }

</script>

{% endblock %}
