{% load static %}
{% load i18n %}
<link rel="stylesheet" href="{% static 'data_logger/css/data_logger.css' %}">
<div class="card-body ps-4 pe-4 mt0">
  <!-- Devices Overview -->
  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 text-center" dir="{% if request.LANGUAGE_CODE == 'ar' %}rtl{% else %}ltr{% endif %}">
    <div class="col">
      <div class="card stat-card total_devices text-white">
        <div class="card-body">
          <h6 class="card-title ">{% trans "Total Devices" %}</h6>
          <h3 id="total-devices">{{ total_devices }}</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card stat-card working text-success">
        <div class="card-body">
          <h6 class="card-title">{% trans "Working" %}</h6>
          <h3 id="working-count">{{ status_counts.working }}</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card stat-card warning text-danger">
        <div class="card-body">
          <h6 class="card-title">{% trans "Error" %}</h6>
          <h3 id="error-count">{{ status_counts.error }}</h3>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card stat-card offline text-secondary">
        <div class="card-body">
          <h6 class="card-title">{% trans "Offline" %}</h6>
          <h3 id="offline-count">{{ status_counts.offline }}</h3>
        </div>
      </div>
    </div>
  </div>
</div>