name: Auto Update Firmware JSON

on:
  push:
    branches: [ main ]
    paths:
      - 'firmware/**'
      - 'app/**'

  workflow_dispatch:
  
jobs:
  update-latest:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.x'

      - name: Install dependencies
        run: pip install --upgrade pip

      - name: Run update script
        run: python scripts/update_latest.py

      - name: Commit and push changes
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git add updater/latest.json
          git commit -m "Auto-update latest.json"
          git push
